@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Aboreto", cursive;
  font-size: 22px;
  color: #000;
}
p{
  font-size: 18px;
}

select{
  padding: 8px;
  width: 100%;
  border-radius: 20px;
}

body {
  min-height: 100vh;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
}
.container{
  display: flex;
  margin-left: 20%;
  justify-content: space-between;
}
.subHeader{
  background-color: #e6e6e6;
  padding: 15px;
}
.btn-large {
  margin: 5px;
}
.center {
  text-align: center;
}
hr{
  position: relative;
  top: 20px;
  border: none;
  height: 12px;
  background: rgb(172, 170, 170);
  margin-bottom: 50px;
}
.addContact,
.logout {
  float: right;
  border: none;
  padding: 8px 12px;
  width: auto;
}
.loggedBox{
  margin: auto;
}
.link {
  text-decoration: none;
  color: #507cc0;
}
.homepage{
  background-image: url("./assets/backgroundcouple.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  
}

.contactBox,
.homeBox {
  width: 50%;
  margin: 8% auto;
  background-color: #e3dbdb;
  opacity: .8;
  padding: 15px;
  border-radius: 20px;
}
.galleryBox{
  margin: 8% auto;
  background-color: #e3dbdb;
  padding: 15px;
  border-radius: 20px;
}
.uploadForm{
  width: 50%;
  margin: auto;
  box-shadow: 4px 4px 4px 4px gray;
}

.searchBoxAlbums{
  align-items: center;
  background-color: #babdc1;
  display: inline-flex;
  width: 100%;
  border-radius: 5px;
  padding: 15px;
}
.searchalbum{
  width: 90%;
}

.searchIcon{
   width: 75px;
}
.contentBox {
  width: 120;
  padding: 1rem;
  border-radius: 10px;
  color: #63666a;
  background-color: #e6e6e6;
  
}

.formBox{
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  background-color: #e6e6e6;
  padding: 15px;
}

.bio{
  background-color: #e6e6e6;
  border-radius: 20px;
  box-shadow: 4px 4px 4px 4px grey;
}
.formDiv{
  padding: 15px;
  color: #535050;
  margin: 8px;
  box-shadow: 4px 4px 4px 4px grey;
}
.albumSection{
  width: 148%;
  margin-left: -32%;
}

.userBox,
.aboutUsBox,
.accountBox,
.albumBox {
  width: 70%;
  padding: 1rem;
  border-radius: 10px;
  color: #63666a;
  margin-left: 20%;
}
.singleFile{
  background-color: #d6d2d2;
  padding: 15px;
  
}
.singleAlbumBox{
  display: inline-flex;
  text-align: center;
  overflow: scroll;
  width: 100%;
}
.singleAlbum{
  margin: 5px;
  background-color: #fff;
  padding: 12px;
  width: 280px;
  margin: 5px;
}
.singleAlbum img{
  width: 250px;
  height: 250px;
  margin: 5px;
  
}
.multipleFile{
  padding: 15px;
}
.uploadSection{
  width: 100%;
}
.upload{
  width: 250px;
  height: 250px;
  margin: 5px;
}
.iconItem{
  float: right;
}
.albumBtn h6{
  background-color:#d6d4d4;
  margin: 5px;
  width: 50%;
  height: 60px;
  align-items: center;
  padding: 12px;
  cursor: pointer;

}
.albumsSection{
  display: inline-flex;
  flex-wrap: wrap;
}
.cardAlbum{
  margin: 5px;
  width: 250px;
  height: 250px;
  display: inline-flex;
}
.author{
  font-size: 14px;
  font-weight: 700;
  color: #000;
}
.userMember{
  width: 15%;
  font-size: 15px;
  box-shadow: 4px 4px 4px 4px grey;
  margin: 5px;
  padding: 12px;
  text-align: center;
}
.userProfile{
  width: 80px;
}
.linkMail{
  font-size: 14px;
  color: #507cc0;
}

.gallerySection{
    display: flex;
    flex-wrap: wrap;
     
}
.checkbox{
  align-items: center;
  display: inline-flex;
  text-align: start;
  
}

.profileInfo{
  margin: 5px;
  background-color: #edeff3;
  padding: 12px;
  width: 100%;
}

.userBox{
 display: flex;
 justify-content: space-around;
 margin-left: 20%;
}
.userBox div{
  margin: 5px;
  align-items: center;
  padding: 15px;
}
.loggedBox{
  height: 50vh;
  background-image: url("../src/assets/backgroundcouple.jpg");
  background-size: cover;
}
b{
  color:#507cc0;
  
}
.profileBox{
   background-color:#e6e6e6;
   width: 70%;
   margin-left: 20%;
   padding: 15px;
   justify-content: space-between;
}

.profileNav{
  display: flex;
  align-items: center; 
  margin-bottom: 12px;
  justify-content: space-between;
  background-color: #e6e6e6;
  padding: 15px;
}
.profile{
  border-radius: 100%;
}
.profileLink{
  background:none;
  color: #555;
  width: auto;
  margin: 5px;
  
}

input{
  width: 100%;
}

.filterBox {
  width: 70%;
  padding: 1rem;
  border-radius: 10px;
  color: #63666a;
  background-color: #e6e6e6;
  margin-left: 15%;
}
.searchBox {
  margin: auto;
  width: 80%;
}
.searchbar {
  width: 80%;
  padding: 8px;
}
.cardPost{
  height: 400px;
  padding: 15px;
  
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b3b0b0; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.cardContent{
  overflow-y: scroll;
  height: 350px;
  padding: 15px;
}
.postImage {
  width: 100%;
  height: 200px;
}
.timePost{
  font-size: 12px;
  color: #b3b0b0;
}

.col {
  padding: 15px;
}
.btn {
  color: #fff !important;
  margin: 10px !important;
  background-color: #9e9797 !important;
}

.card {
  width: 33%;
  margin: 5px;
  padding: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
}
.loginButton {
  width: 100%;
  padding: 15px 25px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
  text-align: center;
  align-items: center;
}

.google {
  background-color: #df4930;
}
.facebook {
  background-color: #507cc0;
}
.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.home {
  display: flex;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  color: #63666a;
  background-color: #e6e6e6;
}

.img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 20px 0px;
}

.desc {
  color: #333;
  margin-bottom: 20px;
  line-height: 25px;
}

.cardButton {
  border: none;
  border-radius: 10px;
  background-color: rgba(53, 16, 102, 0.678);
  padding: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postImg {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
}

.postDesc {
  padding: 0 100px;
  font-size: 24px;
  font-weight: 300;
  color: gray;
  margin-top: 50px;
}

.postLongDesc {
  padding: 100px;
  padding-top: 50px;
  font-size: 18px;
  line-height: 24px;
}
.col{
  text-align: center;
}
.avatar{
  width: 200px;
  border-radius: 20px;
}
.arrowback{
  align-items: center;
  float: right;
  padding: 8px;
  display: inline-flex;
  border-bottom: 1px solid rgb(219, 219, 222);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding: 15px;
}

.imgAlbum {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.imgGrid {
  display: grid;
  gap: 0.5rem;
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
}
a,
a:visited {
  color: black;
}

input,
button,
textarea {
  font-family: "Facinate", sans-serif;
  font-size: 22px;
  padding: 0.65rem;
  border-radius: 25px;
}

label,
button {
  margin-top: 1rem;
}
.submitBtn{
  background-color: #009688;
  cursor: pointer;
  color: #f1f1f1;
}
.submitBtn:hover{
  background: #b8d4d3;
  color: #636161;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

h1 {
  text-align: center;
  padding: 10px;
}

.facebook {
  border-radius: 10px;
  margin: 0 auto;
  border-radius: 25px;
}


@media only screen and (max-width: 600px) {
  section {
    width: 100%;
  }

  body {
    background-image: none;
  }

  div {
    margin: 0 auto;
    width: 95%;
  }
}

.boxSidebar {
  position: absolute;
}

.btn {
  margin: 0 auto;
  border: none;
  outline: none;
  padding: 0.75em 1em;
  font-size: 1em;
  letter-spacing: 1px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: rgb(134, 49, 0);
  color: #fff;
}

.sidebar {
  overflow: auto;
  background-color: #e6e6e6;
  color: #63666a;
  width: 20%;
  left: 0px;
  height: 100%;
  padding: 20px;
  top: 0;
  padding: 0;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar-item {
  display: block;
  color: black;
  text-decoration: none;
  padding: 0.75em 1em;
  display: block;
  transition: background-color 0.15s;
  border-radius: 5px;
}

.sidebar-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-title span i {
  display: inline-block;
  width: 1.5em;
}
.sidebar-title .toggle-btn {
  cursor: pointer;
  transition: transform 0.3s;
}
.sidebar-item.open > .sidebar-title .toggle-btn {
  transform: rotate(180deg);
}
.sidebar-content {
  padding-top: 0.25em;
  height: 0;
  overflow: hidden;
}
.sidebar-item.open > .sidebar-content {
  height: auto;
}

.sidebar-item.plain {
  color: #63666a;
  text-decoration: none;
}

.sidebar-item.plain i {
  display: inline-block;
  width: 1.7em;
}
.columnMember {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.cardMember {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 30%;
  margin: 12px;
  padding: 1rem;
  text-align: center;
  font-family: arial;
  background-color: #e6e6e6;
}
.profileMember {
  width: 250px;
  height: 250px;
  padding: 8px;
  border-radius: 100%;
}
i{
  margin: 5px;
}
.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #9e9797;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover,
a:hover {
  opacity: 0.7;
}

.fillerBox {
  height: 50px;
  width: 50px;
  background-color: black;
  margin: 5px;
  float: left;
  display: block;
}

.fillerLocationBox {
  height: auto;
  width: auto;
  margin: 5px;
  border-radius: 10px;
  display: flex;
}

.fillerCircle {
  background-color: black;
  height: 50px;
  border-radius: 50%;
  width: 50px;
}

.contactInfo {
  font-size: 15px;
  padding: 0 10px;
}

.fillerLocationBox img {
  height: 100px;
  width: 100px;
}

.loginButton .google {
  height: 15px;
  width: 100px;
  background-color: red;
  color: white;
}

@media screen and (max-width: 760px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar-item {
    float: left;
  }
}
@media screen and (max-width: 575px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar-item {
    text-align: center;
    float: none;
  }
  .uploadForm,
  .col,
  .homeBox,
  .accountBox,
  .homepage,
  .contactBox,
  .searchBox,
  .albumBox,
  .profileBox,
  .contentBox,
  .filterBox {
    margin-top: 5%;
    width: 100%;
    margin: auto;
  }
   .container{
    display: block;
    width: 100%;
    margin: auto;
    
   }
   .singleFile,
   .multipleFile{
    width: 100%;
   }
  h1{
    font-size: 25px;
  }
  .userBox{
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .accountBox{
    width: 100%;
    margin: 5% auto;
    
  }
  .albumBtn h6{
    width: 100%;
    height: auto;
  }
  .cardAlbum{
    width: 100%;
  }
  .formBox{
    display: block;
    width: 100%;
    
  }
  .profileBox{
    display: block;
  }
  .memberBox{
     width: 100%;
  }
  .userMember{
    width: 80%;
   text-align: left;
   margin: auto;
   
  }
  .searchbar {
    width: 100%;
  }
  .home {
    width: 100%;
    display: block;
  }
  .card {
    width: 100%;
  }

  .sidebar-item {
    float: left;
  }
  .columnMember {
    display: block;
  }
  .cardMember {
    width: 100%;
  }
  .albumSection {
    margin: auto;
    width: 100%;
  }
}
@media screen and (max-width: 414px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar-item {
    text-align: center;
    float: none;
  }
  .col,
  .homepage,
  .contactBox,
  .searchBox,
  .albumBox,
  .profileBox,
  .contentBox,
  .filterBox {
    margin-top: 5%;
    width: 100%;
    margin-left: 0;
  }
  .container{
    display: block;
    width: 100%;
    margin: auto;
    
   }
   .userBox{
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
  }
   .multipleFile{
    width: 100%;
   }
  h1{
    font-size: 25px;
  }
  .accountBox{
    width: 100%;
    margin: 5% auto;
    
  }
  .memberBox{
    width: 100%;
 }
 .userMember{
   width: 80%;
 text-align: left;
 
 }
  .profileBox{
    display: block;
  }
  .formBox{
    display: block;
    width: 100%;
  }
  .searchbar {
    width: 100%;
  }
  .home {
    width: 100%;
    display: block;
  }
  .card {
    width: 100%;
  }

  .sidebar-item {
    float: left;
  }
  .columnMember {
    display: block;
  }
  .cardMember {
    width: 100%;
  }
  .albumSection {
    margin: auto;
    width: 100%;
  }
}
@media screen and (max-width: 390px) {
  .link{
    font-size: 18px;
  }
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar-item {
    text-align: center;
    float: none;
  }
  .col,
  .homepage,
  .contactBox,
  .searchBox,
  .albumBox,
  .profileBox,
  .contentBox,
  .filterBox {
    margin-top: 5%;
    width: 100%;
    margin-left: 0;
  }
  .container{
    display: block;
    width: 100%;
    margin: auto;
    
   }
   .memberBox{
    width: 100%;
 }
 .userMember{
   width: 80%;
 text-align: left;
 
 }
   .userBox{
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
  }
   .multipleFile{
    width: 100%;
   }
  h1{
    font-size: 25px;
  }
  
  .accountBox{
    width: 100%;
    margin: 5% auto;
    
  }
  .filesBox{
    display: flex;
    justify-content: space-between;
  }
  .formBox{
    display: block;
    width: 100%;
  }
  .profileBox{
    display: block;
  }
  .searchbar {
    width: 100%;
  }
  .home {
    width: 100%;
    display: block;
  }
  .card {
    width: 100%;
  }

  .sidebar-item {
    float: left;
  }
  .columnMember {
    display: block;
  }
  .cardMember {
    width: 100%;
  }
  .albumSection {
    margin: auto;
    width: 100%;
  }
  .cardPost{
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .link{
    font-size: 18px;
  }
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar-item {
    text-align: center;
    float: none;
  }
  .uploadForm,
  .albumSection,
  .col,
  .homepage,
  .contactBox,
  .searchBox,
  .albumBox,
  .profileBox,
  .contentBox,
  .filterBox {
    margin-top: 5%;
    width: 100%;
    margin-left: 0;
  }
  .container{
    display: block;
    width: 100%;
    margin: auto;
    
   }
   
   .memberBox{
    width: 100%;
 }
 .userMember{
   width: 80%;
 text-align: left;
 
 }
   .userBox{
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
  }
   .multipleFile{
    width: 100%;
   }
  h1{
    font-size: 25px;
  }
  
  .accountBox{
    width: 100%;
    margin: 5% auto;
    
  }
  .filesBox{
    display: flex;
    justify-content: space-between;
  }
  .formBox{
    display: block;
    width: 100%;
  }
  .profileBox{
    display: block;
  }
  .searchbar {
    width: 100%;
  }
  .home {
    width: 100%;
    display: block;
  }
  .card {
    width: 100%;
  }

  .sidebar-item {
    float: left;
  }
  .columnMember {
    display: block;
  }
  .cardMember {
    width: 100%;
  }
  .albumSection {
    margin: auto;
    width: 100%;
  }
}
/*

:root {
  --text-color: #333;
  --accent-color: rgb(37, 126, 96);
  --btn-text-color: #f9f9f9;
  --alert-success-bg-color: #d4edda;
  --alert-success-text-color: #155724;
  --alert-danger-bg-color: #f5c6cb;
  --alert-danger-text-color: #721c24;
}
* {
  box-sizing: border-box;
  color: var(--text-color);
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 2rem;
}
.title {
  text-align: center;
  margin-bottom: 4rem;
}
img {
  border-radius: 5px;
}
.btn {
  padding: 0.5rem 1rem;
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
  color: var(--btn-text-color);
  border-radius: 5px;
  transition: 250ms;
  cursor: pointer;
  font-size: 16px;
  display: block;
}

.btn:hover {
  border: 1px solid var(--accent-color);
  background-color: var(--btn-text-color);
  color: var(--acent-color);
}

.form {
  margin-bottom: 10px;
}

.form-input {
  display: block;
  margin-bottom: 5px;
}

.alert {
  padding: 1rem 2rem;
  border-radius: 5px;
  position: fixed;
  top: 2rem;
  right: 0rem;
  min-width: 200px;
}

.alert-success {
  background-color: var(--alert-success-bg-color);
  color: var(--alert-success-text-color);
}

.alert-danger {
  background-color: var(--alert-danger-bg-color);
  color: var(--alert-danger-text-color);
}
*/
